body {font-family: verdana, monospace;}
br {clear: both;}
.center {text-align: center; margin: auto;}
div.content {clear: both; padding-left: 5%; padding-right: 5%; padding-top: 50px; padding-bottom: 50px;}
div.content h1 {color: #333; font-size: 20px; font-weight: normal; border-bottom: 1px dotted #ddd;}
div.content p a { color: #4183C4; text-decoration: none;}
div.content p a:hover { text-decoration: underline;}
